a:hover {
    text-decoration: none;
    cursor: pointer;
}
header{
    position: relative;
    background-color: #5FC0CD;
    overflow: hidden;
    height: 80px;
}
/*header内元素垂直居中*/
header div{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
header .nav-div {
    /*使header的胶囊式标签页水平居中，兼容ie8以上浏览器*/
    display: table;
    margin:0 auto;
    overflow: hidden;
}
/*header map图标定位*/
header .map-div{
    position: absolute;
    right: 30px;
}
header .map-div img {
    width: 100%;
    max-width: 80%;
}
/*调整header胶囊式标签页的样式*/
.nav-pills>li+li {
    margin-left: -8px; !important;
}
.nav-pills .btn-lg {
    padding: 0; !important;
}
.nav-pills>li>a{
    padding: 15px 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.nav-pills>li.inactive>a{
    background-color: #55A8B3;
    color: white;
}
.nav-pills>li.active>a {
    background-color: white;
    color: #5FC0CD;
}
/*调整下拉菜单样式*/
main li {
    width: 33.3%;
    text-align: center;
    border-bottom: 1px solid #E1E5E7;
    padding: 5px 0;
}
main .btn {
    outline: none;
    border: none; !important;
    width: 100%;
    color: #AFBAC0; !important;
}
.btn .caret {
    float: right;
    margin-top: 8px;
}
.mid-drop {
    border-left: 1px solid #E1E5E7;
    border-right: 1px solid #E1E5E7;
}

/*调整信息表格样式*/
.price {
    padding: 24.5px 0;
    text-align: right;
}
.price a {
    vertical-align: middle;
    color: red;
}
.price .point {
    color: #5FC0CD;
    margin-left: 1rem;
    font-size: 3rem;
}

.row .place {
    background: url(../image/img-sprites.png) 0 0  no-repeat;
    -webkit-background-size: 16.8px;
    background-size: 16.8px;
    height: 14.7px;
    width: 13.3px;
    display: inline-block;
    vertical-align: middle;
}
.row p{
    display: inline-block;
    text-indent: 2.3rem;
    margin-bottom: 0; !important;
}
.row .date-p {
    background:url(../image/img-sprites.png) 0 -16.8px no-repeat ;
    -webkit-background-size: 16.8px;
    background-size: 16.8px;
    height:16.8px;
    width:16.8px;
    vertical-align: middle;
    display: inline-block;
}

.row div {
    overflow:hidden; /*不显示超过对象宽度的内容*/
    text-overflow:ellipsis; /*当对象内文本溢出时显示省略标记（...）*/
    white-space:nowrap; /*限制在一行内显示所有文本*/
}
.row {
    padding: 1rem 0;
}
.col-sm-8 div, .col-xs-8 div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.date {
    text-indent: 3.3rem;
    color: black;
}

/*底部菜单栏样式*/
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8FAFB;
    text-align: center;
}
footer a {
    display: block;
}
footer .edit {
    margin: 1rem 13%;
}
footer img {
    width: 60%;
    max-width:100%;
}
.home,.mine {
    margin-top: 1rem;
}
.home {
    color: #5FC0CD;
}
.mine,.container-fluid{
    color: #AFBAC0;
}
